@import 'App';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.ms-ScrollablePane {
   // top: 200px !important;
    max-height: 500px !important;
    vertical-align: baseline !important;
}

.ms-DetailsList {
    height : 1500px !important;
}

.ExampleCard {
    vertical-align: baseline !important;
    height : 300px !important;
    max-height: 500px !important;
    //margin-top : 50px !important;
}

.ExampleCard-header {
    //vertical-align: baseline !important;
    height : 30px !important;
   // margin-top : 50px !important;
}

.stickyAbove-38 {
    //top: 110px;
    position: absolute;
    pointer-events: auto;
    width: 100%;
    z-index: 1;
    vertical-align: baseline !important;
}
