@import './common/common';

:global {
  .scrollablePaneDefaultExample {
    max-width: 400px;
    max-height: inherit;
    border: 1px solid $ms-color-neutralLight;
  }

  .sticky {
    @include ms-fontColor-neutralDark;
    padding: 10px 20px;
    font-size: 16px;
    -webkit-transition: font-size ease 0.3s;
    -moz-transition: font-size ease 0.3s;
    -o-transition: font-size ease 0.3s;
    -ms-transition: font-size ease 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: font-size;
    box-shadow: 0 0 5px -1px $ms-color-neutralDark;
  }

  .largeFont {
    .sticky {
      font-size: 20px;
    }
  }

  .textContent {
    padding: 15px 10px;
  }
}
