.App {
  text-align: left; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.ms-ScrollablePane {
  max-height: 500px !important;
  vertical-align: baseline !important; }

.ms-DetailsList {
  height: 1500px !important; }

.ExampleCard {
  vertical-align: baseline !important;
  height: 300px !important;
  max-height: 500px !important; }

.ExampleCard-header {
  height: 30px !important; }

.stickyAbove-38 {
  position: absolute;
  pointer-events: auto;
  width: 100%;
  z-index: 1;
  vertical-align: baseline !important; }

/*# sourceMappingURL=index.css.map */
