/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .scrollablePaneDefaultExample {
  max-width: 400px;
  max-height: 400px;
  border: 1px solid "[theme:neutralLight, default: #eaeaea]"; }
:global .sticky {
  color: "[theme:neutralDark, default: #212121]";
  padding: 10px 20px;
  font-size: 16px;
  -webkit-transition: font-size ease 0.3s;
  -moz-transition: font-size ease 0.3s;
  -o-transition: font-size ease 0.3s;
  -ms-transition: font-size ease 0.3s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: font-size;
  box-shadow: 0 0 5px -1px "[theme:neutralDark, default: #212121]"; }
:global .largeFont .sticky {
  font-size: 20px; }
:global .textContent {
  padding: 15px 10px; }

/*# sourceMappingURL=ScrollablePane.Example.css.map */
